setuptools
pbr

apscheduler ~= 3.3
numpy ~= 1.12
pymongo ~= 3.5.1
gnocchiclient ~= 7.0.1
PyYAML ~= 3.12
requests ~= 2.12
semver ~= 2.7

python-keystoneclient ~= 3.10
python-novaclient ~= 9.0

osc-lib ~= 1.9.0
